<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/emojionearea.min.css">
    <title>Open Chat Rooms</title>
  </head>
  <body>
    <div class="logout-Button-Container">
      <button class="logout-button">Logout</button>
    </div>
    <div class="mainTitle">
      <h1>Welcome to Open Chat Box</h1>
    </div>
    <div class="mainContainer">
      <div class="topicContainer">
        <div class="topicList">
          <div class="input-Container">
            <div class="showInput " id="new-Input-Container">
              <input
                id="newTopicInput"
                type="text"
                required
                placeholder="New topic title..."
              />
              <button id="submitTopic">Submit NEW Topic</button>
            </div>
          </div>
          <div class="topic-list-container">
            <ul id="topic-list"></ul>
          </div>
        </div>
      </div>
      <div class="chat-wrapper">
        <div class="chat-messages"></div>
        <div class="chat-form-container">
          <form id="chat-form">
            <input
              id="msg"
              type="text"
              placeholder="Enter Message"
              required
              autocomplete="off"
            />
            <button class="btn">Send</button>        
          </form>
          <textarea id="emoji"></textarea>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
      integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/plugin/advancedFormat.min.js"></script>
  </body>
  <script type="text/javascript" src="/js/emojionearea.min.js"></script>
  <script src="/js/emojis.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/logout.js"></script>
</html>
