body {
    --color-primary: #009579;
    --color-primar-dark: #007862;
    --color-secondary: #243fa9;
    --color-error: rgb(217, 8, 8);
    --color-sucess: rgb(14, 201, 52);

    margin: 0;
    height: 100vh;
    font-size: 20px;
    font-family:sans-serif
}

/* login page */
.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.pageTitle {
    font-family: sans-serif;
}

.pageTitle > h1 {
    text-shadow: 1px 1px 2px var(--color-primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    max-width: 400px;
    margin-top : 3rem;
    padding: 2rem 1rem;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    scale: 1.2;
}

.container, .form-input, .form-button {
    font: 500 1rem sans-serif;
}

.form > *:first-child {
    margin: 0;
}
.form > *:last-child {
    margin: 1rem;
}

.form-message {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-message-success {
    color: var(--color-sucess)
}

.form-message-error {
    color: var(--color-error)
    
}

.form-input-group {
    margin-bottom: 1rem ;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: 8px; 
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2;
    outline: none;
    border: 1.5px solid white
}

.form-input:focus {
    border-color: var(--color-primary);
}

.form-input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form-input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error)
}

.form-button {
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    padding: 1rem;
}

.form-button:hover {
    background: var(--color-primar-dark)
}

.form-link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}


/* main page */

.mainTitle {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle > h1 {
    margin: 0;

}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}

.topicContainer {
    
    border-style: solid;
    border-color: red;
    width: 30%;
    height: 100%;
}

.topicButton {
    display: flex;
    justify-content: center;
}

.topicList {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    height: 97%;
}

.topicList > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.chatContainer {
    border-style: solid;
    border-color: yellow;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0.901);
}

.messageContainer > h2 , .messageContainerRight > h2{
    font-size: 20px;
    margin: 0;
}

.messageContainer {
    background-color: white;
}

.messageContainerRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgb(214, 213, 213);
}

.message-input-container {
    display: flex;
    justify-content: center;
}

.message-input {
    margin: 0.8rem;
}


