
::-webkit-scrollbar {
    width: 5px;
    outline: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
    height: 1rem;
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primar-dark);
}



body {
    --color-primary: #009579;
    --color-primar-dark: #007862;
    --color-secondary: #243fa9;
    --color-error: rgb(217, 8, 8);
    --color-sucess: rgb(14, 201, 52);
    overflow: hidden;
    margin: 0;
    height: 100vh;
    font-size: 20px;
    font-family:sans-serif
}

/* login page */
.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.pageTitle {
    font-family: sans-serif;
}

.pageTitle > h1, li {
    text-shadow: 1px 1px 2px var(--color-primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    max-width: 400px;
    margin-top : 3rem;
    padding: 2rem 1rem;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    scale: 1.2;
}

.container, .form-input, .form-button {
    font: 500 1rem sans-serif;
}

.form > *:first-child {
    margin: 0;
}
.form > *:last-child {
    margin: 1rem;
}

.form-message {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-message-success {
    color: var(--color-sucess)
}

.form-message-error {
    color: var(--color-error)
    
}

.form-input-group {
    margin-bottom: 1rem ;
}

.form-input, #newTopicInput, #msg {
    display: block;
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: 8px; 
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2;
    outline: none;
    border: 1.5px solid white
}

.form-input:focus, #newTopicInput:focus, #msg:focus {
    border-color: var(--color-primary);
}

#msg {
    width: 50%;
    display: initial;
    padding: 1rem;
}

.form-input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form-input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error)
}

.form-button {
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    padding: 1rem;
}

.form-button:hover {
    background: var(--color-primar-dark)
}

.form-link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#forgot-Password-Container {
    margin-top: 1rem
}


/* main page */

.logout-button, #add-topic, #submitTopic, .btn {
    font-size: 1.3rem;
    margin: 1em 1em 0em 1.5em;
    border: solid;
    border-color: var(--color-primary);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: rgb(231, 230, 230);
}

.logout-button {
    border: none;
}

.logout-button:hover, #add-topic:hover, #submitTopic:hover, .btn:hover {
    transform: scale(1.1);
    transition: transform 30ms ease;
    background-color: var(--color-primary);
}
.mainTitle {
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle > h1 {
    margin: 0;
    text-shadow: 1px 1px 2px var(--color-primary);

}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}

.topicContainer {
    
    border-right: solid;
    border-color: var(--color-primar-dark);
    width: 30%;
    height: 100%;
}

.topicButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.topic-list-container {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.topic-list-container > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

input {
box-shadow: 0px 1px 2px grey;
}

#topic-list {
    padding: 0;
    display: flex;
    gap: 1rem;
    max-height: fit-content;
}

.topic-list-li {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.topic-list-li:hover {
    scale: 1.1;
}

.input-Container {
    display: flex;
    justify-content: center;
}

#new-Input-Container {
    display: flex;
    flex-direction: column;
    padding-top: 1.3rem;
    gap: 1rem;
}

.chat-wrapper {
    width: 70%;
    height: 100%;
}

.chat-messages {
    width: 85%;
    height: 80%;
    overflow-y:scroll;
    margin-left: 11%;
    background-color: rgba(255, 255, 255, 0.901);
    
}

.chat-form-container {
   text-align: left;
   margin-left: 11%;
}

.emojionearea.emojionearea-standalone {
    font-size: 1.3rem;
    margin: 0.3em 0em,;
    border: solid;
    border-color: var(--color-primary);
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(231, 230, 230);
}

li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff7034;
    color: white;
    font-size: 1em;
  }


  .flex {
    display: flex;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  #submitTopic {
    margin-top: 0;
    scale: 0.9;
  }

  .topicList {
    height: 100%;
  }

  p {
    font-size: 18px;
    margin-top: 0;
  }

  .message > p {
    font-size: 20px;
    border-radius: 5px;
  }

  li {
    font-size: 30px;
  }

  .user-time {
    font-style: italic;
    font-size: 20px;
    background-color: var(--color-primary);
    color: white;
    max-width: 22rem;
    margin-bottom: 5px;
  }
